



<div class="person-card-sm person-card-md person-card-lg">
    <div class="person-card-top">
        <img class="person-card-img-sm person-card-img-md person-card-img-lg" src="@Img" />
        <div class="person-card-score">
            <div class="person-card-title-info">
                <div class="person-card-grid">
                    <a href="@Mail">@Mail</a>
                    <img style="width:20px;height:20px;" src="./Images/mailNot.png" />
                </div>
                <div class="person-card-grid">
                    <a style="color:white;" href="tel:@Telefon">@Telefon</a>
                    <img style="width:20px;height:20px;" src="./Images/telefon.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="person-card-text ">
        <p class="person-card-title">@Name</p>
        <div class="person-card-title-info">
            <p><span style="font-weight:bold; color:dodgerblue">Function :</span> @Function</p>
            @*<div class="person-card-grid">
            <img style="width:20px;height:20px;" src="./Images/mailNot.png"/>
            <a href="@Mail">@Mail</a>
            </div>
            <div class="person-card-grid">
            <img style="width:20px;height:20px;" src="./Images/telefon.png" />
            <a href="tel:@Telefon">@Telefon</a>
            </div>*@
        </div>
        <hr />
        <p>@Description</p>
    </div>

</div>

@code {
    [Parameter]
    public string? Img { get; set; }
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public string? Function { get; set; }
    [Parameter]
    public string? Mail { get; set; }
    [Parameter]
    public string? Telefon { get; set; }
    [Parameter]
    public string? Description { get; set; }
}
